html {
  font-size: 16px;
}
body {
  background-color: rgba(233, 233, 233, 0.795);
  max-width: 1000px;
  margin: auto;
  margin-top: 20px;
}
main {
  background-color: rgb(255, 255, 255);
}
.mainPanel {
  padding: 0 4%;
  /* padding: 0 2% 0 2%; ist gleich wie obene */
}
.menuIcon {
  margin-top: 4px;
  margin-left: 4%;
  width: 25px;
  height: 3px;
  background-color: black;
}
.menuIcon :hover {
  nav-down: auto;
}
nav {
  margin-top: 10px;
  margin-left: 4%;
}
header {
  display: flex;
  height: 60px;
  justify-content: center;
}
img {
  margin: auto;
  min-width: 380px;
  max-width: 60%;
  display: flex;
  justify-items: center;
  border-radius: 20px;
}
.aboutMe {
  /* min-width: 400px; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 5% 0 5%;
  min-width: 380px;
  max-width: 760px;

  background-color: rgb(218, 255, 170);
  box-shadow: 5px 5px 12px rgb(175, 175, 175);
  border-radius: 5px;
  padding: 20px;
}
section {
  width: 400px;
  margin-top: 20px;
  background-color: rgb(241, 241, 241);
  box-shadow: 5px 5px 12px rgb(175, 175, 175);
  border-radius: 5px;
}
.sectionV2 {
  height: 30px;
  min-width: 50px;
  max-width: 350px;
  background-color: rgb(194, 251, 255);
  border-radius: 2px;
  padding: 9px 3px 0px 3px;
  margin: auto;
}
.abilities {
  padding-left: 5px;
  padding-right: 5px;
  gap: 4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.abilities2 {
  padding: 0 0 20px 20px;
  gap: 20px;
}

section h3 {
  padding-left: 20px;
}
section div label {
  size: 12px;
}
.contact {
  padding-left: 4%;
  justify-content: center;
  flex-wrap: wrap;
}
