button {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  height: 40px;
  width: 150px;
  background-color: green;
  color: aliceblue;
}
.button--large {
  font-size: 14px;
  padding: 12px 24px;
  background-color: rgb(163, 0, 0);
  color: rgb(255, 238, 0);
}
.button:hover {
  font-size: 17px;
  padding: auto;
}
